<footer class="footer bg-dark pt-2 mt-auto text-white-50">
    <div class="container text-center">
        <p class="mt-2">&copy;YelpCamp 2022 - Created by KTomy</p>
        <p></p>
    </div>
</footer>